* {
  font-family: sans-serif;
}

body {
  border: 8px solid black;
}

h1 {
  text-align: center;
  background-color: rgb(204, 202, 202);
  text-transform: uppercase;
}

h2 {
  font-weight: bolder;
}

p {
  font-size: 18px;
}

li {
  font-size: 18px;
  list-style: square;
}

button {
  height: 40px;
  width: 150px;
  font-size: 19px;
  background-color: black;
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 9px 9px;
}

button:hover {
  background-color: white;
  color: black;
  border: none;
  font-weight: bold;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}
