* {
  font-family: sans-serif;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}

.center {
  width: 825px;
  margin: 30px auto;
  border: 5px solid black;
}

h1 {
  text-align: center;
  background-color: rgb(204, 202, 202);
  text-transform: uppercase;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}

h2 {
  font-weight: bolder;
  margin-left: 10px;
}

h3 {
  margin-left: 10px;
}

p {
  font-size: 18px;
  margin-left: 10px;
}

li {
  font-size: 18px;
  list-style: square;
  margin-left: 30px;
}

button {
  height: 60px;
  width: 100%;
  font-size: 19px;
  background-color: black;
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 9px 9px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}

button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  border-top: 5px solid black;
}

a {
  color: black;
  margin-left: 10px;
  display: inline-block;
  margin-bottom: 15px;
}

a:hover {
  text-decoration: none;
}

span {
  margin-left: 10px;
}

/* body {
  position: relative;
} */

/* .sale {
  font-size: 25px;
  border: 0px solid black;
  position: absolute;
  left: 490px;
  letter-spacing: 8px;
  padding-left: 5px;
  text-transform: uppercase;
  background-color: red;
  color: white;
  top: -1px;
  font-family: sans-serif;
  z-index: 1;
  margin-top: 10px;
} */

.sale {
  background-color: #ec2f2f;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 500px;
  z-index: 1;
}

.color {
  background-color: #000;
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-right: 8px;
}

.color-blue {
  background-color: blue;
}

.color-red {
  background-color: red;
}

.color-yellow {
  background-color: yellow;
}

.color-green {
  background-color: green;
}

.color-brown {
  background-color: brown;
}
